html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=ISO-8859-1')
    style(type='text/css').
      h1 {color:red}
    link(rel='stylesheet', typetext='', href='styles.css')
    meta(name='description', content='HelloWorld')
    meta(name='keywords', content='angle coding 1 and +')
    meta(name='author', content='Nowez')
    title HelloWorld
  body
    h1 H1
    h2 H2
    h3 H3
    h4 H4
    h5 H5
    h6 H6
    |
    abbr(title='As Soon as possible') ASAP
    |
    acronym(title='As Soon as possible') ASAP
    bold Bold
    br
    |
    big Big
    blockquote  Indent this text and style
    br
    center  This is now center
    |
    em Italic
    p  Hello
    |
    q Quote here m8
    |
    s Strucket text
    |
    small So small m8
    p
      strong I&apos;m a k&ouml;ttboulle
    |
    sub Submarien
    |
    sup Supertomatoe
    |
    img(scr='http://www.newthinktank.com/wp-content/uploads/2010/03/marketing-examples45_sm_sm.jpg', alt='Merillies', height='415', width='300')
    |  *
    dl
      dt  Doge
      dt  Is da bauwz
    ol
      li  Hello
      li  Yas
    ul
      li  Hello
      li  Yas
    |
    a(href='http://youtube.com', target='_blank') Youtube M8
    table(summary="It's a table")
      caption  Yayayaya
      tr
        th  Sat
        th  Sun
      tr
        th  apple
        th  pie
      tr
        th  bike
        th  car
    form(actio='mail12.php', methon='post')
      b Send message to this email
      br
      |  
      input(type='text', name='email', size='40')
      br
      |
      textarea(cols='40', rows='10', name='message') Default text
      br
      |
      input(type='radio', name='email', value='Home')
      | Home Email
      input(type='radio', name='email', value='Work')
      | Work Email
      br
      |
      input(type='checkbox', name='checkboxinput', value='Yaya')
      | Yaya
      input(type='checkbox', name='checkboxinput', value='no.')
      | no.
      select(name='selectoutput')
        option I love
        option I hate
      |
      input(type='hidden', name='Submitten', value='True')
      |
      input(type='submit', value='Send')
